<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated data_Description -->
      <package
            uri="http://www.example.org/data_Description"
            class="data_Description.Data_DescriptionPackage"
            genModel="model/data_Description.genmodel"/>
   </extension>

</plugin>
