<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uiProps -->
      <package
            uri="http://www.example.org/uiProps"
            class="cafev.vform.uiProps.UiPropsPackage"
            genModel="model/uiProps.genmodel"/>
   </extension>

</plugin>
